<ion-view view-title="Dashboard" hide-back-button="true">
<ion-view view-title="Dashboard" hide-back-button="true">
  <ion-content>
	   <div class="dashboard">
	   	<h1>Welcome to hello remit</h1>
	   	<p>This is test details of hello remit. This is test details of hello remit. This is test details of hello remit. This is test details of hello remit. This is test details of hello remit. </p>

<div class="row  padding removePM">
<div class="col center-content">
<span class="dash-title">TODAY'S RATE</span>
</div>
</div>

<div class="row  padding removePM">
<div class="col center-content">
<span class="dash-rate">84.5</span>
</div>
</div>

<div class="col center-content">
<div class="row  padding removePM">
	  <div class="col"> <a class=" button-positive button button-block" href="#/app/profiles"><i class="icon">SEND MONEY</i></a> </div>
</div>
</div>

	   </div>
    </ion-list>
  </ion-content>
</ion-view>
