<ion-view view-title="Add Payee" hide-back-button="true">
<ion-view view-title="Add Payee" hide-back-button="true">
  <ion-content class="padding">

  <div class="row responsive-sm padding remvoeBP">
	  <div class="col">
		  	<div class="list list-inset removePM">
			  <label class="item item-input"><input type="text" placeholder="Full Name"> </label>
			  <label class="item item-input"><input type="text" placeholder="Email Address"> </label>
			  <label class="item item-input"><input type="text" placeholder="Phone Number"> </label>
			  <label class="item item-input"><input type="password" placeholder="Password"> </label>
			</div>

			<div class="loginButton"><button class="button ion-person button-block button-balanced"> Add Payee </button>  </div>
	  </div>
  </div>

  </ion-content>
</ion-view>
